<!doctype html>
<html><head><title>mobile responsive</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
<!-- <script src="./static/css/bootstrap.js"></script>
    <script src="./static/js/jquery.js"></script>  -->
</head>
<body>
<div class="row">
    <div class="col-lg-3 col-sm-6">a</div>
    <div class="col-lg-3 col-sm-6">b</div>
    <div class="col-lg-3 col-sm-6">b</div>
    <div class="col-lg-3 col-sm-6">bb</div>
    <div class="col-lg-3 col-sm-6">cd</div>
    <div class="col-lg-3 col-sm-6">s</div>
    <div class="col-lg-3 col-sm-6">sc</div>
    <div class="col-lg-3 col-sm-6">s</div>

</div>
</body>
</html>